@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}
.div {
  height:200px;
  width: 200px;
  margin: 0px auto;
  margin-top: 30px;
  border-radius: 10px;
}

.btn {
  height: 40px;
  width: 200px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: rgb(179, 174, 174);
  margin-top: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(153, 143, 143); 
}
.text {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif; 
}






